<h1>About this Book...</h1>
<ul>
  <li>Title: <%= @book.title() %></li>
  <li>Author: <%= @book.author() %></li>
  <li>Year Published: <%= @book.year_published() %></li>
</ul>


<a href="/librarian/books/<%= @book.book_id %>/edit" id="edit"><button type="button" name="edit">Edit</button></a>
<a href="/librarian/books" id="books"><button type="button" name="books">Back to All Books</button></a>
