<h1>Library Catalog</h1>

<ul>
  <% @books.each do |book| %>
    <a href="/librarian/books/<%= book.id %>"><li><%= book.title %> by <%= book.author %></li></a>
  <% end %>
</ul>

<a href='/'><button type='button'>Home</button></a>
