<h1>Library Catalog</h1>

<ul>
  <% @books.each do |book| %>
    <a href="/librarian/books/<%= book.book_id %>"><li><%= book.title %> by <%= book.author %></li></a>
  <% end %>
</ul>


<a href='/librarian/books/new' id='add_book'><button type='button' name='add_book'>Add a Book</button></a>
