<h1> Librarian's Nifty Nook </h1>

<a href='/librarian/books' id='books'><button type='button' name='books'>View All Books in Catalog</button></a>

<a href='/librarian/books/new' id='add_book'><button type='button' name='add_book'>Add a Book</button></a>

<a href='/librarian/patrons'><button type='button'>View All Patrons</button></a>

<a href='/librarian/title_search' id='title_search'><button type='button' name='title_search'>Search Books by Title</button></a>

<a href='/librarian/author_search' id='author_search'><button type='button' name='author_search'>Search Books by Author</button></a>

<a href='/'><button type='button'>Home</button></a>
