<h1>Your Search Results:</h1>

<ul>
  <% @books.each do |book| %>
    <a href="/librarian/books/<%= book.book_id %>"><li><%= book.title %> by <%= book.author %></li></a>
  <% end %>
</ul>

<a href="/librarian" id="nifty_nook"><button type="button" name="nifty_nook">Back to the Nifty Nook</button></a>
