<h2> Search Catalog by Title</h2>

<form action="/librarian/title_search" method="post">
  <div class="form-group">
    <label for="title_search">Enter Title:</label>
    <input type="text" name="title_search" id="title_search">
  </div>
  <button type="submit" id="submit_title">Search for this Title</button>
</form>
